*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: #F1F2F4;
  height: 100vh;
  width: 100%;
}
